@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
/* reset.css */

/* Remove default margin and padding */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}

/* Reset font styles */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Normalize line height */
button,
input,
select,
textarea {
  line-height: normal;
}

/* Remove list styles on bullet points and numbered lists */
ul,
ol {
  list-style: none;
}

/* Remove default anchor text decoration */
a {
  text-decoration: none;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}



:root {
  font-family: 'Markazi Text', serif;
  --main-color: #495E57;
  --sec-color: #F4CE14;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--sec-color);
  font-weight: bold;
}

button {
  background-color: var(--sec-color);
  color: black;
  padding: 5px 20px;
  border-radius: 16px;
  font-size: 24px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #333;
  /* Change the background color when the button is disabled */
  color: white;
  /* Change the text color when the button is disabled */
  cursor: not-allowed;
  /* Change the cursor to not-allowed when the button is disabled */
  /* Add any other styles you want when the button is disabled */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover {
  background-color: #333;
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
}

header .container svg {
  display: none;
}

header .container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: end;
}

header .container img {
  justify-self: baseline;
}

header .container ul {
  font-family: 'Karla', sans-serif;
  display: flex;
  gap: 2rem;
  font-size: 20px;
  font-weight: bolder;
}

/* Hero section */
#home {
  background-color: var(--main-color);
  height: 380px;
}

#home .container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 65% 35%;
}

#home .container .content {
  width: 45%;
  height: max-content;
  font-size: 24px;
  color: white;
}


#home h1 {
  color: var(--sec-color);
}

#home span,
#about span {
  display: block;
  font-size: 38px;
  margin-top: -24px;
  color: white;
}

.hero-img {
  width: 24rem;
  height: 28.5rem;
  justify-self: end;
}

.hero-img img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

/* Special Section */
#menu {
  margin-top: 8rem;
}

#menu header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu header button {
  padding: 15px 30px;
  font-weight: bold;
}

#menu .content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.s-card {
  background-color: #EDEFEE;
  display: grid;
  border-radius: 16px 16px 0 0;
}

.s-card .img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.s-card .head {
  width: 84%;
  padding: 0 8%;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-card h3 {
  font-weight: bold;
}

.s-card .price {
  color: #EE9972;
  font-weight: bold;
}

.s-card .description p {
  width: 84%;
  padding: 0 8%;
  color: var(--main-color);
  margin: 0;
  height: 80px;
}

.s-card button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  color: white;
  margin-left: 8%;
  font-size: 18px;
  justify-self: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px 16px;
}

.s-card button:hover {
  font-weight: bolder;
  background-color: var(--sec-color);
  color: #333;
}

.s-card button img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/* Testimonials Section */

.testimonials {
  background-color: var(--main-color);
  padding: 5% 0 10% 0;
}

.testimonials h2 {
  color: #EDEFEE;
  padding: 5% 0;
  text-align: center;
}

.testimonials .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.t-card {
  display: grid;
  padding: 20px;
  background-color: #EDEFEE;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.t-card svg {
  fill: var(--sec-color);
  width: 10%;
}

.t-card .img-name {
  display: flex;
  align-items: flex-end;
  margin-top: -20px
}

.t-card .review {
  font-weight: 600;
}

.t-card .img-name .name {
  margin-left: 10px;
}

.t-card .img-name .img img {
  padding-top: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.rating {
  text-align: right;
}

/* About section */

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 24px;
  gap: 10%;
  padding: 5% 0 5% 0;
  margin-top: 5%;
  margin-bottom: 15%;
}

#about span {
  color: var(--sec-color);
}

#about .content {
  margin-top: 10%;
}

#about p {
  width: 90%;
}

#about h2 {
  color: var(--main-color);
  padding: 5% 0 0 0;
}

.about-img {
  position: relative;
}

.about-img img {
  position: absolute;
  float: right;
  width: 272px;
  height: 338px;
}

.about-img img:first-child {
  top: 5%;
  right: 0;
  border-radius: 16px;
}

.about-img img:nth-child(2) {
  z-index: 3;
  top: 170px;
  right: 150px;
  border-radius: 16px 16px 16px 0;
}

/* Footer section */

footer {
  background-color: var(--main-color);
  font-family: 'Karla', sans-serif;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3% 0;
  justify-items: center;
}

footer .container div {
  padding: 10% 0;
}

footer .container .logo {
  padding: 0;
  justify-self: start;
}

footer img {
  width: 155px;
  height: 250px;
}

footer h3 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.contact ul {
  width: 100px;
}

footer ul {
  font-size: 14px;
  color: white;
}

footer .social a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

footer a:hover svg {
  fill: var(--sec-color);
}

footer .social svg {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  fill: white;
}

/* Backdrop */
.backdrop {
  background-color: var(--main-color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.side-nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.side-nav svg {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 2rem;
  fill: white;
}

.side-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem !important;
  color: white;
}

.side-nav hr {
  width: 70%;
  height: 1px;
  background-color: var(--sec-color);
  border: none;
  margin: 0;
}

/* Table Reservation */

.table {
  background-image: url(../src/assets/icons_assets/restaurant.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

/* Reservation page */

.reservation {
  background-image: url(./assets/icons_assets/rest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 75%;
}

.reservation .container {
  padding: 10rem 0;
  width: 50%;
}

.reservation .form-group {
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 4rem;
  border-radius: 1rem;
}

.reservation div h1 {
  color: #333;
  font-weight: bolder;
  font-family: 'Croissant One', serif;
  font-size: 3rem;
  width: 70%;
}

.reservation-head {
  color: #333;
  font-size: 4rem;
  margin-bottom: 0;
}

/* form styling */
.form-customize{
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
}

.form-contact{
  padding: 0 2rem;
  display: grid;
  grid-template-areas:
    'fnl fn'
    'lnl ln'
    'el e'
    'cbl cb';
  row-gap: 0.5rem;
}

.firstName-label-error{
  grid-area: fnl;
}
.firstName-input{
  grid-area: fn;
}
.lastName-label-error{
  grid-area: lnl;
}
.lastName-input{
  grid-area: ln;
}
.email-label-error{
  grid-area: el;
}
.email-input{
  grid-area: e;
}
.cb{
  grid-area: cbl;
}
.cb-input{
  grid-area: cb;
}


.form-section form label {
  font-size: 3rem;
}

.form-section form label,
.form-section form input {
  display: inline-block;
}

.form-section form input,
.form-section form select {
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.form-section form input:focus,
.form-section form input:active {
  border: 2px solid #009688;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  position: relative;
  margin-right: 5%;
}

.received-time-warper {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.received-time-warper:focus,
.received-time-warper:active {
  border: 2px solid #009688;
  outline: none;
}

.received-times {
  flex-grow: 0.88;
  display: flex;
  justify-content: space-evenly;
}

.svg {
  display: flex;
  align-items: center;
  flex-grow: 0.12;
  margin-right: 5.5%;
  justify-content: flex-end;
}

.received-time-warper svg {
  width: 2rem;
  height: 2rem;
}

.date-input {
  font-size: 2rem !important;
  display: flex !important;
}

.date-input input {
  margin-right: 0.5rem;
}

.form-guests {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.form-guests:focus,
.form-guests:active {
  border: 2px solid #009688;
  outline: none;
}

.form-guests input {
  border: none !important;
  text-align: center;
}

.form-guests input::-webkit-outer-spin-button,
.form-guests input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-guests input[type=number] {
  -moz-appearance: textfield;
}

.form-guests button {
  width: 25%;
  height: 100%;
  background-color: var(--main-color);
  font-weight: bolder;
  font-size: 2rem;
}

.form-guests button:disabled {
  background-color: #333;
}

.form-guests button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-guests button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

select{
  -webkit-appearance: none; /* Disable default arrow on WebKit (Safari/Chrome) */
  -moz-appearance: none; /* Disable default arrow on Firefox */
  appearance: none; /* Disable default arrow on modern browsers */
  background: transparent url("data:image/svg+xml,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23495E57%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%224.5%22%20stroke%3D%22%23FFF%22%2F%3E%0A%3Cpath%20d%3D%22M14%2011L12%2013L10%2011%22%20stroke%3D%22%23FFF%22%2F%3E%0A%3C%2Fsvg%3E%0A") no-repeat;
  background-position: right 5px top 50%;
}

select::-ms-expand {
  display: none; /* Hide the arrow on IE/Edge */
}

select:focus {
  border: 2px solid #009688;
  outline: none;
}

.label-error {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error{
  display: inline-block;
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  margin-right: 1rem;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #495E57; /* Customize the spinner color */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  justify-self: center;
}

.spinner-wrapper{
  width: 100%;
  display: grid;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input[type="checkbox"] {
  accent-color: #495E57;
}

.conformation-head{
  color: var(--main-color);
}

.failed{
  color: #ff4343 !important;
}

.conformation-body {
  font-size: 3rem;
  text-align: center;
}

.conformation-page-buttons{
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
}

.conformation-page-buttons button{
  background-color: var(--main-color);
  color: white;
}

.conformation-page-buttons button:hover{
  background-color: #333;
  color: white;
}



/* Media  */
@media screen and (min-width: 2076px) {
  .hero-img {
    width: 24rem;
    height: 28.5rem;
  }

  #menu {
    margin-top: 9rem;
  }

  .reservation div h1 {
    font-size: 4rem;
    ;
  }
}


@media screen and (min-width: 1024px) and (max-width: 2075px) {
  .container {
    width: calc(100% - 4rem);
  }

  .hero-img {
    width: 20rem;
    height: 26rem;
  }

  .reservation .container {
    width: 70%;
  }

  .reservation div h1 {
    font-size: 2.5rem;
  }
  .reservation-head {
    font-size: 3rem;
  }
  .form-section form label {
    font-size: 2.5rem;
  }
  .form-section form input,
  .form-section form select,
  .received-time-warper,
  .date-input {
    font-size: 1.6rem !important;
  }
  .received-time-warper svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  .spinner{
    width: 1.6rem;
    height: 1.6rem;
    justify-self: center;
  }
  .conformation-body {
    font-size: 2rem;
  }
  .conformation-page-buttons {
    width: 60%;
  }
}


@media screen and (min-width: 767px) and (max-width: 1023px) {
  header .container ul {
    gap: 0.5rem;
    font-size: 14px;
  }

  #home .container .content {
    width: 80%;
    font-size: 16px;
  }

  h1 {
    font-size: 54px;
  }

  #home span {
    font-size: 32px;
  }

  h2 {
    font-size: 40px;
  }

  #menu header button {
    font-size: 20px;
    padding: 8px 30px;
  }

  #menu .content {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 4rem;
  }

  .hero-img {
    width: 14rem;
    height: 22rem;
  }

  #home {
    height: 330px;
  }

  #menu {
    margin-top: 6rem;
  }

  .testimonials .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #about {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }

  .about-img img:first-child {
    top: -3rem;
    right: 4rem;
  }

  .about-img img:nth-child(2) {
    top: 5rem;
    right: 14rem;
  }

  .reservation .container {
    width: 70%;
  }

  .reservation div h1 {
    font-size: 2.25rem;
  }
  .reservation-head {
    font-size: 2.25rem;
  }
  .form-section form label {
    font-size: 1.8rem;
  }
  .form-section form input,
  .form-section form select,
  .received-time-warper,
  .date-input {
    font-size: 1.2rem !important;
  }
  .received-time-warper svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .spinner{
    width: 1.2rem;
    height: 1.2rem;
    justify-self: center;
  }

  .error{
    font-size: 1rem;
  }
  .form-guests button {
    font-size: 1.2rem;
  }
  .conformation-body {
    font-size: 1.5rem;
  }
  .conformation-page-buttons {
    width: 70%;
  }
  .conformation-page-buttons button {
    font-size: 1.2rem;
    padding: 8px;
  }
}

@media screen and (min-width: 767px) and (max-width: 900px) {
  .reservation div h1 {
    font-size: 2rem;
  }
  .reservation .form-group {
    padding: 1.5rem;
  }
  .label-error {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }

  header .container {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    width: calc(100% - 3rem);
  }

  .hero-img {
    display: none;
  }

  #home .container .content {
    width: 100%;
    font-size: 20px;
  }

  #home .container {
    max-width: calc(100% - 4rem);
    display: block;
  }

  h1 {
    font-size: 48px;
  }

  #home span {
    font-size: 30px;
  }

  #home {
    height: 100%;
  }

  button {
    font-size: 16px;
    font-weight: bold;
  }

  #menu {
    margin-top: 2rem;
  }

  h2 {
    font-size: 30px;
  }

  #menu header button {
    font-size: 16px;
    padding: 5px 15px;
  }

  #menu .content {
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 4rem;
  }

  .s-card {
    border-radius: 16px;
  }

  .s-card button {
    justify-self: center;
    margin-left: 0;
    font-size: 14px;
  }

  .s-card button img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .testimonials .content {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
  }

  #about {
    display: block;
  }

  .about-img {
    display: none;
  }

  #about h2 {
    font-size: 48px;
  }

  #about p {
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }

  .logo {
    display: none;
  }

  footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: start;
  }

  footer .container div {
    padding: 0;
  }

  footer .container div li {
    margin-left: 25px;
  }

  .contact ul {
    width: 100%;
    font-size: 16px;
  }

  footer .social svg {
    width: 20px;
    height: 20px;
  }

  header .container svg {
    display: none;
  }

  header .container svg {
    display: block;
  }

  /* form styling */
  .form-customize{
    grid-template-columns:  1fr;
  }

  .form-contact{
    padding: 0 2rem;
    display: grid;
    grid-template-areas:
      'fnl fnl' 
      'fn fn'
      'lnl lnl' 
      'ln ln'
      'el el' 
      'e e'
      'cbl cb';
    row-gap: 0.5rem;
  }

  .reservation .container {
    width: calc(100% - 3rem);
  }

  .reservation .form-group {
    padding: 0.8rem;
  }

  .reservation div h1 {
    font-size: 1.8rem;
    width: 90%;
  }
  .reservation-head {
    font-size: 2.25rem;
  }
  .form-section form label {
    font-size: 1.8rem;
  }
  .form-section form input,
  .form-section form select,
  .received-time-warper,
  .date-input {
    font-size: 1.2rem !important;
  }
  .received-time-warper svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  .spinner{
    width: 1.2rem;
    height: 1.2rem;
    justify-self: center;
  }

  .error{
    font-size: 1rem;
  }
  .form-guests button {
    font-size: 1.2rem;
  }
  .conformation-body {
    font-size: 1.5rem;
  }
  .conformation-page-buttons {
    width: 70%;
  }
  .conformation-page-buttons button {
    font-size: 1.2rem;
    padding: 8px;
  }
  select{
  background: transparent url("data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23495E57%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%224.5%22%20stroke%3D%22%23FFF%22%2F%3E%0A%3Cpath%20d%3D%22M14%2011L12%2013L10%2011%22%20stroke%3D%22%23FFF%22%2F%3E%0A%3C%2Fsvg%3E%0A") no-repeat;
  background-position: right 5px top 50%;
  }
  .reservation .container {
    padding: 5rem 0;
  }
  .label-error {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 321px) {
  .reservation div h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  .reservation-head {
    font-size: 2rem;
  }
  .form-section form label {
    font-size: 1.5rem;
  }
  .form-section form input,
  .form-section form select,
  .received-time-warper,
  .date-input {
    font-size: 1rem !important;
  }
  .received-time-warper svg {
    width: 1rem;
    height: 1rem;
  }
  .spinner{
    width: 1rem;
    height: 1rem;
    justify-self: center;
  }

  .error{
    font-size: 1rem;
  }
  .form-guests button {
    font-size: 1rem;
  }
  .conformation-body {
    font-size: 1rem;
  }
  .conformation-page-buttons {
    width: 100%;
  }

  .conformation-page-buttons button{
    font-size: 0.8rem;
    padding: 4px;
  }
  .date-input input {
    margin-right: 0;
  }
  .form-customize, .form-contact{
    padding: 0 0.5rem;
  }
}